<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">
	// function preventBack() { window.history.forward(); }
 //        setTimeout("preventBack()", 0);
 //        window.onunload = function () { null };
    
    
    // setTimeout(window.onload = function(){
    // 	window.location="http://192.168.100.6:8000/"
    // }, 100);

    
    	
    	

    </script>
	<title>LOGGED OUT</title>
</head>
<body>
	<div align="center" style="top:200px;">
	You are succesfully logged out..
    <br>
    Click <a href="http://192.168.42.118:8000/"><u>here</u></a> to go to the homepage. 
</body>
</html>