<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<center>
	<div id="map"></div>

	<div style="margin-top: 200px">
		<form action="http://192.168.42.167:8000/confirmed" style="width: 50%; background-color: powderblue;">
			<fieldset>
				<legend>CONFIRM PICKUP</legend>
				Confirm Pickup?
				<br>
				<br>
				<div name="confirm">
				<input type="radio" name="confirm" value="yes">Yes..<br>
				<input type="radio" name="confirm" value="no" checked>No..
				</div>
				<br><br>
				<input type="submit" value="Confirm" onclick="">

			</fieldset>
		</form>
	</div>
</center>
</body>
</html>